* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.navbar {
    font-size: larger;
    background-color: #666666;
    display: flex;
    justify-content: center;

    div {
        div {
            padding: 1em;
            height: 100%;
            display: inline-block;

            a {
                text-decoration: none;
                color: #ffffff;
            }

        }

        #Log {
            margin-left: 20em;
        }

        div:hover {
            background-color: #333333;
        }

    }
}

#see {
    border-radius: 6px;
    height: 100%;
}

#logo {
    display: inline;
    position: relative;
    left: 3rem;
    top: 2em;
}

.hero {
    background-size: cover;
    background-image: url("../Images/john-mcarthur-PrdNTrIrG8w-unsplash.jpg");
    height: 650px;
    width: 100%;

    .quot {

        margin-top: 2em;

        h1 {
            color: #333333;
            margin-left: 6em;
        }
    }
}

.Book {
    
    font-family: sans-serif;
    text-align: center;

    h4 {
        padding: 3rem;
        color: #666666;
    }

    h2 {
        padding-bottom: 1em;
        font-size: xx-large;
        font-family: 'Courier New', Courier, monospace;
    }

    pre {
        color: #666666;
        font-size: large;
    }
}

.form {
   
    a {
        color: red;
        font-size: large;
    }

    border: 2px solid rgb(131, 124, 112);
    border-radius: 20px;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 4em;
    border-radius: 2px;
    background-color: #ffffff;

    .box {
        display: flex;
        justify-content: space-around;
        padding: 2em;
        gap: 1em;

        div {
            align-items: center;
            border: 1px solid black;
            border-radius: 5px;
            width: 15em;
            padding: 1em;

            select {
                height: 2em;
                width: 90%;
            }

        }

        button {
            border-radius: 6px;
            width: 30rem;
            background: rgb(231, 57, 57);
            a{
                font-family: sans-serif;
                color: #ffffff;
                font-size: x-large;
                text-decoration: none;
            }
        }

    }
    .text{
        padding-bottom: 0.5em;
    }

    
}
main{
    background-color: rgb(247, 241, 230);
    padding-bottom: 3em;
}
.info{
    border: 2px solid rgb(131, 124, 112);
    border-radius: 20px;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 4em;
    border-radius: 2px;
    background-color: #ffffff;
    padding: 2em;
    h3{
        padding-bottom: 1em;
    }
    h4{
        padding-top: 1em;
    }
}

#Image-Gallery{
    margin-top: 10vh;
    text-align: center;
    align-content: center;
    .si{
        color: #666666;
        font-weight: 900;
        margin-top: 10vh;
    
    }
    h2{
        margin: 1em;
        color: #333333;
        font-weight: bolder;
        font-size: xxx-large;
    }
    #des{
        width: 50vh;
        color: #666666;
        align-content: center;
        position: relative;
        left: 37%;
        margin: 1em;
        font-weight: bold;
    }
    #show{
        margin: 1em;
        img{
            height: 30vh;
            margin: 2rem;
            border-radius: 5px;
            transition: transform 2s;
        }
        img:hover{
            transform: scale(1.1);
            box-shadow: 0 0 100px #333333;
            cursor:alias;
        }
    }
    #dff{
        div{
            display: flex;
            justify-content: space-around;
            margin-top: 5vh;
            div{
                display: flex;
                flex-direction: column;
                background-color: #f0f0f0;
                justify-content: space-between;
                width: 50vh;
                height: 50vh;
                padding-bottom: 2vh;
                border-radius: 7px;
                color: #444444;
                box-shadow: 0 0 25px #333333;
                h3{
                    font-weight: bolder;
                    font-size: x-large;
                }
                img{
                    border-top-left-radius: 7px;
                    border-top-right-radius: 7px;
                }

            }
            div:hover{
                cursor: pointer;

            }
        }
    }
    #dff p{
        margin: 2em;
        color: #444444;
    }
}